/* Default table styles for larger screens */
.comparison-chart {
  margin-top: 50px;
  margin-bottom: 5rem;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Table header and cell styles */
.comparison-chart h3 {
  color: var(--light-text-color);
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.comparison-chart table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-background-color);
  overflow: hidden;
  border-radius: 10px;
}

.comparison-chart th,
.comparison-chart td {
  padding: 15px 20px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  text-align: center;
}

.comparison-chart th {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  font-weight: bold;
  text-transform: uppercase;
}

.comparison-chart td {
  background-color: var(--secondary-background-color);
  color: var(--dark-text-color);
}

.comparison-chart tr:hover td {
  background-color: var(--highlight-color);
}

.comparison-chart tr:nth-child(even) td {
  background-color: var(--alternate-row-color);
}

/* Responsive styles - Accordion view on smaller screens */
.comparison-accordion {
  display: none;
  margin-top: 30px;
  margin-bottom: 5rem;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.accordion-card {
  background-color: var(--secondary-background-color);
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-text-color);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  background-color: var(--secondary-background-color);
  padding: 0 15px;
}

.accordion-content.open {
  max-height: 500px;
  padding: 15px;
}

.accordion-header svg {
  transition: transform 0.3s ease;
}

.accordion-header svg.rotate {
  transform: rotate(180deg);
}

.accordion-footer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.accordion-footer button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-footer button:hover {
  background-color: var(--button-hover-color);
}

/* Hide table on smaller screens, show accordion */
@media screen and (max-width: 768px) {
  .comparison-chart {
    display: none;
  }

  .comparison-accordion {
    display: block;
  }
}
