.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.animated-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.animated-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(255, 102, 0, 0.7));
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animated-icon {
  animation: pulse 3s infinite;
}