.ad-creation-tool-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9f9f9;


}

.ad-creation-tool {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.tool-title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}

.tool-description {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 30px;
}
